<!-- Hero Section -->
<section id="hero" class="hero section">

  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-5 justify-content-between">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2><span>THIÊN ÂN </span><span class="accent">LOGISTICS</span></h2>
        <p>{{slogan}}</p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started">{{buttonContact}}</a>
          {{!-- <a href="#" class="glightbox btn-watch-video d-flex align-items-center"><i
              class="bi bi-play-circle"></i><span>Watch Video</span></a> --}}
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2">
        <img src="https://hiu.vn/wp-content/uploads/2022/02/image-2.jpeg" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">
        {{#each serviceCategories}}
        <div class="col-xl-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-easel"></i></div>
            <h4 class="title"><a href="" class="stretched-link">{{name}}</a></h4>
          </div>
        </div>
        {{/each}}

        {{!-- <div class="col-xl-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-easel"></i></div>
            <h4 class="title"><a href="" class="stretched-link">Dịch vụ hải quan</a></h4>
          </div>
        </div><!--End Icon Box -->

        <div class="col-xl-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-gem"></i></div>
            <h4 class="title"><a href="" class="stretched-link">Dịch vụ xuất nhập khẩu các loại hàng hoá</a></h4>
          </div>
        </div><!--End Icon Box -->

        <div class="col-xl-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <h4 class="title"><a href="" class="stretched-link">Dịch vụ vận tải đường bộ</a></h4>
          </div>
        </div><!--End Icon Box -->

        <div class="col-xl-3 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-command"></i></div>
            <h4 class="title"><a href="" class="stretched-link">Dịch vụ xếp dỡ hàng hoá tại kho cảng</a></h4>
          </div>
        </div><!--End Icon Box --> --}}

      </div>
    </div>
  </div>

</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{{introAboutTitle}}<br></h2>
    <p>{{introAboutDescription}}</p>
  </div><!-- End Section Title -->


  <div class="container">
    <div class="language-switcher">
      <a href="/change-language?lang=vi">Tiếng Việt</a> |
      <a href="/change-language?lang=en">English</a> |
      <a href="/change-language?lang=cn">中文</a>
    </div>

    {{#each introAbouts}}
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3>{{titleintro}}</h3>
        <img src="https://hiu.vn/wp-content/uploads/2022/02/image-1.jpeg" class="img-fluid rounded-4 mb-4" alt="">
        <p>{{contentintro}}</p>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">{{descriptionintro}}</p>
          <ul>
            
            <li><i class="bi bi-check-circle-fill"></i> <span>{{serviceintro1}}</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>{{serviceintro2}}</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>{{serviceintro3}}</span></li>
            
          </ul>
          <p>{{subcontentintro}}</p>
          <div class="position-relative mt-4">
            <img src="https://hiu.vn/wp-content/uploads/2022/02/image.jpeg" class="img-fluid rounded-4" alt="">
            <a href="" class="glightbox play-btn"></a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}


    {{!-- <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3>Sứ mệnh của Thiên Ân Logistics</h3>
        <img src="https://hiu.vn/wp-content/uploads/2022/02/image-1.jpeg" class="img-fluid rounded-4 mb-4" alt="">
        <p>___ được thành lập vào ngày ___, có tên đầy đủ là Công ty TNHH ___. Với nhiều năm kinh nghiệm trong lĩnh vực
          xuất nhập khẩu, ___ đã từng bước khẳng định vị thế bằng việc tham gia các hiệp hội và cung cấp các giải pháp
          logistics giúp Khách hàng xuất nhập khẩu dễ dàng, hiệu quả và an toàn.</p>

      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            Cung cấp các giải pháp logistics giúp Khách hàng xuất nhập khẩu dễ dàng, hiệu quả và an toàn:
          </p>
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> <span>Đơn giản hóa dịch vụ xuất nhập khẩu trong giao nhận hàng
                hóa quốc tế.</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>Tối ưu dịch vụ hậu cần để mang đến cho Khách hàng các giải
                pháp tiết kiệm.</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>Xây dựng giải pháp bằng những sự đổi mới trong việc cập
                nhật tin tức xuất nhập khẩu, ứng dụng công nghệ thông tin.</span></li>
          </ul>
          <p>Trở thành trung tâm dịch vụ hậu cần của Việt Nam, bằng việc đầu tư phương tiện vận tải, kho bãi chứa hàng,
            phát triển hệ thống văn phòng tại Việt Nam và vươn ra Châu lục.
          </p>

          <div class="position-relative mt-4">
            <img src="https://hiu.vn/wp-content/uploads/2022/02/image.jpeg" class="img-fluid rounded-4" alt="">
            <a href="" class="glightbox play-btn"></a>
          </div>
        </div>
      </div>
    </div> --}}

  </div>

</section><!-- /About Section -->

{{!-- <!-- Clients Section -->
<section id="clients" class="clients section">

  <div class="container">

    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
      </div>
    </div>

  </div>

</section>
<!-- /Clients Section --> --}}

{{!-- <!-- Stats Section -->
<section id="stats" class="stats section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 align-items-center">

      <div class="col-lg-5">
        <img src="assets/img/stats-img.svg" alt="" class="img-fluid">
      </div>

      <div class="col-lg-7">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="stats-item d-flex">
              <i class="bi bi-emoji-smile flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Happy Clients</strong> <span>consequuntur quae</span></p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-6">
            <div class="stats-item d-flex">
              <i class="bi bi-journal-richtext flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Projects</strong> <span>adipisci atque cum quia aut</span></p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-6">
            <div class="stats-item d-flex">
              <i class="bi bi-headset flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Hours Of Support</strong> <span>aut commodi quaerat</span></p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-6">
            <div class="stats-item d-flex">
              <i class="bi bi-people flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p><strong>Hard Workers</strong> <span>rerum asperiores dolor</span></p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </div>

  </div>

</section><!-- /Stats Section --> --}}

{{!-- <!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section">

  <div class="container">
    <img src="assets/img/cta-bg.jpg" alt="">
    <div class="content row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-xl-10">
        <div class="text-center">
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          <h3>Call To Action</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>
      </div>
    </div>
  </div>

</section><!-- /Call To Action Section --> --}}

<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{{introServiceTitle}}</h2>
    <p>{{slogan}}</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      {{#each valueServices}}
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="{{multiply @index 100}}">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <h3>{{title}}</h3>
          <p>{{message}}</p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      {{/each}}
      {{!--
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <h3>Tối ưu hoá chi phí</h3>
          <p>Mang đến cho Khách hàng các giải pháp tiết kiệm chi phí trong quá trình thông quan hàng hóa.</p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <h3>Tiết kiệm thời gian</h3>
          <p>Xử lý nhanh chóng các thủ tục hải quan hàng xuất nhập khẩu, đảm bảo tính đầy đủ, chính xác và hợp pháp.</p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <h3>Đơn giản hóa dịch vụ</h3>
          <p>Đơn giản hóa quy trình và giảm thiểu phức tạp trong việc vận chuyển hàng hóa giữa các quốc gia.</p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-bounding-box-circles"></i>
          </div>
          <h3>Dịch vụ chuyên nghiệp</h3>
          <p>Đội ngũ nhân viên giàu kinh nghiệm luôn sẵn sàng tư vấn và giải đáp những thắc mắc của khách hàng kịp thời.
          </p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <h3>Giảm thiểu rủi ro thương mại</h3>
          <p>___ luôn đề cao các tiêu chí Dễ dàng - Hiệu quả - An toàn xuyên suốt quá trình xuất nhập khẩu hàng hóa.</p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-chat-square-text"></i>
          </div>
          <h3>Mạng lưới kết nối đa dạng</h3>
          <p>Với hơn 300 Agent từ 168 quốc gia khác nhau. Giúp cập nhật thông tin mới nhất về thị trường & quy định xuất
            nhập khẩu của từng quốc gia.</p>
          <a href="service-details.html" class="readmore stretched-link">Xem thêm <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item --> --}}

    </div>

  </div>

</section><!-- /Services Section -->

{{!-- <!-- Team Section -->
<section id="team" class="team section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Team</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
          <h4>Walter White</h4>
          <span>Web Development</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
          <h4>Sarah Jhinson</h4>
          <span>Marketing</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
          <h4>William Anderson</h4>
          <span>Content</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
          <h4>Amanda Jepson</h4>
          <span>Accountant</span>
          <div class="social">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>

</section><!-- /Team Section --> --}}

<!-- Faq Section -->
<section id="portfolio" class="faq section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
          <p>
            Các câu hỏi liên quan đến dịch vụ của Thiên Ân Logistics.
          </p>
        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

        <div class="faq-container">
          {{#each listFaqs}}

          <div class="faq-item {{#isFirst @index}}faq-active{{/isFirst}}">
            <h3>
              <span class="num">{{faqid}}.</span>
              <span>{{question}}</span>
            </h3>
            <div class="faq-content">
              <p>{{answer}}</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          {{!-- <div class="faq-item faq-active">
            <h3>
              <span class="num">1.</span>
              <span>Lần đầu làm thủ tục hải quan thì làm những gì?</span>
            </h3>
            <div class="faq-content">
              <p>Bạn cần chuẩn bị đăng ký kinh doanh, chữ ký số, xin giấy phép xuất nhập khẩu (nếu hàng hóa phải xin
                phép), khai tờ khai, chuẩn bị bộ hồ sơ... Vui lòng liên hệ với chúng tôi.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">2.</span> <span>Công ty có tư vấn cho khách hàng mới không?</span></h3>
            <div class="faq-content">
              <p>Chúng tôi có nhiều kinh nghiệm hợp tác và tư vấn cho khách hàng mới lần đầu xuất nhập khẩu. Tùy trường
                hợp sẽ có hỗ trợ cụ thể.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">3.</span> <span>Muốn hẹn gặp để trao đổi cụ thể thì làm thế nào?</span></h3>
            <div class="faq-content">
              <p>Vui lòng liên hệ với chúng tôi qua số hotline hoặc email hoặc Facebook fanpage để chúng tôi có thể phục
                vụ tốt hơn.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item">
            <h3><span class="num">4.</span> <span>Thời gian Thiên Ân Logistics làm thủ tục hải quan mất bao lâu?</span>
            </h3>
            <div class="faq-content">
              <p>Tùy theo mặt hàng, và loại hình, thời gian thông thường trong khoảng 1-2 ngày làm việc.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item--> --}}
          {{/each}}
          {{!-- <div class="faq-item">
            <h3><span class="num">5.</span> <span>Tempus quam pellentesque nec nam aliquam sem et tortor
                consequat?</span></h3>
            <div class="faq-content">
              <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                gravida quis blandit turpis cursus in</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div> --}}
          <!-- End Faq item-->

        </div>

      </div>
    </div>

  </div>

</section><!-- /Faq Section -->

<!-- Recent Posts Section -->
<section id="recent-posts" class="recent-posts section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{{introPostTitle}}</h2>
    <p>{{slogan}}</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      {{#each blogPosts}}
      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="{{multiply @index 100}}">
        <article>

          <div class="post-img">
            <img src="{{this.imagePath}}" alt="{{this.title}}" class="img-fluid">
          </div>

          {{!-- <p class="post-category">Thông báo</p> --}}
          <p class="post-category">{{this.PostCategory.name}}</p>

          <h2 class="title">
            <a href="#">{{this.title}}</a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="thien an logistics" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">{{this.author}}</p>
              <p class="post-date">
                <time datetime="{{this.createdAt}}">{{this.createdAt}}</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->
      {{/each}}

      {{!-- <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <article>

          <div class="post-img">
            <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
          </div>

          <p class="post-category">Thông báo</p>

          <h2 class="title">
            <a href="#">Thiên Ân Logistics thông báo nghỉ Tết Nguyên Đán Giáp Thìn 2024</a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="https://docs.expo.dev/static/images/packages/expo-image.png" alt=""
              class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">Mr Ly</p>
              <p class="post-date">
                <time datetime="2022-01-01">01/02/2024</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <article>

          <div class="post-img">
            <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
          </div>

          <p class="post-category">Kiến thức</p>

          <h2 class="title">
            <a href="#">SOC là gì trong xuất nhập khẩu? Phân biệt SOC và COC dễ hiểu</a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="https://docs.expo.dev/static/images/packages/expo-image.png" alt=""
              class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">Mr Ly</p>
              <p class="post-date">
                <time datetime="2022-01-01">22/06/2024</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item -->

      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <article>

          <div class="post-img">
            <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
          </div>

          <p class="post-category">Kiến thức</p>

          <h2 class="title">
            <a href="#">CoC là gì trong xuất nhập khẩu? Phân biệt CoC với CQ</a>
          </h2>

          <div class="d-flex align-items-center">
            <img src="https://docs.expo.dev/static/images/packages/expo-image.png" alt=""
              class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author">Mr Ly</p>
              <p class="post-date">
                <time datetime="2022-01-01">22/06/2024</time>
              </p>
            </div>
          </div>

        </article>
      </div><!-- End post list item --> --}}

    </div><!-- End recent posts list -->

  </div>

</section><!-- /Recent Posts Section -->